node_modules/
*.log
*.pid
*.sock
*.tmp
*.min.css
*.min.html
*.min.xml
*.min.json
*.min.css.map
*.min.html.map
*.min.xml.map
*.min.json.map
*.min.css.LICENSE.txt
*.min.html.LICENSE.txt
*.min.xml.LICENSE.txt
*.min.json.LICENSE.txt
pnpm-lock.yaml
